@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app {
    background: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: hsl(185, 13%, 35%);
}
.app ul li {
    list-style: none;
}
.app h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 2rem;
    line-height: 1.8rem;
}
.app label, span:first-child {
    text-transform: capitalize;
    font-size: .8rem;
}
.app input {
    width: 100%;
    padding: .3rem;
    background: hsl(189, 41%, 97%);
    border-radius: 5px;
    border: 2px solid transparent;
    font-family: inherit;
    text-align: right;
}
.app input:hover {
    border: 2px solid  hsl(185, 41%, 84%);
}
.app fieldset {
    border: none;
    position: relative;
}
.app .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0 auto;
    height: max-content;
    max-width: 600px;
    padding: 1.5rem;
    border-radius: 15px;
    background: hsl(0, 0%, 100%);
}
.app .wrapper .partOne {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}
.app .wrapper .partOne .bttnTips {
    padding: .4rem 0;
    background: hsl(183, 100%, 15%);
    color: white;
    border-radius: 5px;
    border: none;
    width: 30%;
    text-align: center;
    margin-top: .5rem;
    font-family: 'Space Mono', monospace;
    transition: .3s ease-in-out;
}
.app .wrapper .partOne .bttnTips:hover {
    background: hsl(172, 50%, 71%);
}
.app .wrapper .partOne .bttnTips:focus {
    background: hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
}
.app .wrapper .errorMess1, .errorMess2 {
    font-size: .6rem;
    color: rgb(234, 123, 12);
    float: right;
    position: relative;
    bottom: -5px;
}
.app .wrapper .partTwo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: hsl(183, 100%, 15%);
    border-radius: 10px;
    padding: 1.5rem;
    color:hsl(0, 0%, 100%);
}
.app .wrapper .partTwo small {
    color: hsl(184, 14%, 56%);
}
.app .wrapper .partTwo button {
    display: block;
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
    border: none;
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 1px;
    font-family: 'Space Mono', monospace;
    transition: .3s ease-in-out;
}
.app .wrapper .partTwo button:hover {
    background: hsl(172, 50%, 71%);
}
.app .wrapper li {
    vertical-align: middle;
}
.app .wrapper .partTwo li span {
    display: inline-block;
    margin-bottom: .5rem;
}
.app .wrapper .partTwo li span:last-child, #tip, #total {
    float: right;
    font-size: 24px;
    color: hsl(172, 67%, 45%);
}
.hidden {
    display: none;
}

.icons {
    color: #000000;
    bottom: 35%;
    left: 5%;
    width: .8em;
    opacity: .3;
    line-height: 10px;
    position: absolute;
    top: 60%;
}

input[type=text]:invalid {
    border: 2px solid rgb(234, 123, 12);
}
#customTips {
    background: hsl(189, 41%, 97%);
    color:hsl(183, 100%, 15%);
}
#customTips::placeholder {
    text-transform: capitalize;
    font-family: 'Space Mono', monospace;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .app .wrapper {
        gap: 2rem;
        grid-template-columns: 1fr;
    }
    body {
        background-color: rgb(255, 127, 229);
    }
}